.InnerPage {
    padding: 96px 0 0;
}

    .InnerPageWrapper {
        min-height: 500px;
    }

    .InnerPageTitle {
        font: normal 400 75px/1 var(--font-secondary);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .1em;
    }

    .InnterPageContent {
        padding: 49px 0 80px;
    }

@media (max-width: 991px) {
    .InnerPageTitle {
        font-size: 48px;   
    }
}