/* Site Colors */ 

$colorPrimary: #e056fd;
$colorSecondary: #1e272e;
$colorAccent: #121212;

/* end Site Colors */ 

/* Site Fonts */
$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Anton', sans-serif;
/* end Site Fonts */  