.detailsPage {
    background-color: var(--color-secondary);
    padding-bottom: 100px;
}

    .detailsPageMain {
        display: flex;
        margin-bottom: 50px;
    }

        .detailsPageMainLeft {
            width: 31.66%;
        }

        .detailsPageMainRight {
            width: 68.34%;
            padding-left: 72px;
        }

    .detailsPageContent {
        position: relative;
        z-index: 5;
    }

        .detailsPageMainContent h1 {
            font: normal 400 75px/1 var(--font-secondary);
            letter-spacing: .050em;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 28px;
        }

        .detailsPageMainContent p {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
        }


.detailsPageCast {
    padding-bottom: 30px;
}

.detailsPageRelatedMovies {
    padding-top: 35px;
}

@media (max-width: 991px) {
    .detailsPageMain {
        display: block;
        padding-top: 60px;
    }

    .detailsPageMainLeft {
        width: 100%;
        max-width: 249px;
        margin: 0 auto 30px;
    }

    .detailsPageMainRight {
        width: 100%;
        padding-left: 0;
    }

    .detailsPageMainContent {
        text-align: center;
    }

    .detailsPageMainContent h1 {
        font-size: 45px;
    }

    .detailsPageMainContent p {
        font-size: 16px;
        line-height: 24px;
    }
}

