.mainHeader {
    padding: 19.5px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: var(--color-accent);
}

.mainHeader.IpHeader {
    background-color: transparent;
}

    .headerRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .headerRight {

        }

@media (max-width: 1199px) {
    .headerLogo img {
        max-width: 180px;
    }
}
