.moviesQuickSearch {
    margin-left: auto;
}

    .moviesTabs {
        margin-top: 57px;
    }

    .moviesCardList {
        margin-top: 54px !important;
    }

    .moviesPagination {
        margin-top: 30px;
    }