.filterTabs {
    padding: 20px 0;
}

.tabsCenter {
    text-align: center;
}

.tabsRight {
    text-align: right;
}

    .filterTabs a {
        margin: 0 15px 15px 0;
    }

    .filterTabs a:last-child {
        margin-right: 0;
    }

    .activeTab {
        background-color: var(--color-secondary);
        box-shadow: 0 0 8px 2px #000;
    }