.headerNav {
    list-style: none;
}

    .headerNav ul {
        list-style: none;
    }

        .headerNav ul li {
            display: block;
            position: relative;
        }

        .headerNav > ul > li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 30px;
        }

        .headerNav > ul > li:last-child {
            margin-right: 0;
        }

            .headerNav > ul > li > a {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                font-weight: 700;
                letter-spacing: .1em;
                padding: 2.5px 7px;
                position: relative;
                font-size: 16px;
            }

            .headerNav > ul > li > a::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 0;
                background: var(--color-primary);
                z-index: -1;
                transition: width .4s ease;
            }

            .headerNav > ul > li > a:hover::before,
            .headerNav > ul > li > a[class*="active"]::before {
                width: 59%;
            }

@media (max-width: 1199px) {
    .headerNav > ul > li > a {
        font-size: 12px;
    }

    .headerNav > ul > li {
        margin-right: 13px;
    }
}