.tvSeriresQuickSearch {
    margin-left: auto;
}

    .tvSeriesTabs {
        margin-top: 57px;
    }

    .tvSeriesCardList {
        margin-top: 54px !important;
    }

    .tvSeriesPagination {
        margin-top: 30px;
    }