/* global variables */
:root {
    /* fonts */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Anton', sans-serif;

    /* colors */
    --color-primary: #c960fc;
    --color-secondary: #1e272e;
    --color-accent: #121212;

    /* breakpoints */
    --bp-dekstop-m: 1366px;
    --bp-desktop-sm: 1199px;
    --bp-mobile: 991px;
    --bp-mobile-sm: 480px;
}
/* end  global variables*/

/* resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-secondary);
}
/* end resets */

/* global classes */
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.site-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.desktop-only,
.mobile-only {
    display: none;
}
/* end global classes */

/* media queries */
@media (max-width: 1199px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 991px) {

    .mobile-only {
        display: block;
    }
}

@media (min-width: 992px) {
    .desktop-only {
        display: block;
    }
}
/* end media queries */